.carousel-one {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  width: 100vw;
}

.carousel-one img{
  width: 450px;
  height: 450px;
}

.content {
  max-width: 800px;
}

.content h1{
  font-weight: 500;
}
.clients{
  background-color: #E6E6E6;
  /* height: 40vh; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.logos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.logos img{
  width: 200px;
  height: 150px;
  object-fit: contain;
}
