<app-navbar></app-navbar>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <div class="carousel-one">
        <div class="content">
          <h1 class="text-5xl">Connect to the worlds largest pool of Specialists</h1>
          <p class="text-2xl m-2">We offer you a secure platform to connect with talented and world class specialists.</p>
        </div>
        <img src="../../../assets/stats.png" alt="">
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <div class="carousel-one">
        <div class="content">
          <h1 class="text-5xl">Connect to the worlds largest pool of Specialists</h1>
          <p class="text-2xl m-2">We offer you a secure platform to connect with talented and world class specialists.</p>
        </div>
        <img src="../../../assets/sales.jpg" alt="">
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <div class="carousel-one">
        <div class="content">
          <h1 class="text-5xl">Connect to the worlds largest pool of Specialists</h1>
          <p class="text-2xl m-2">We offer you a secure platform to connect with talented and world class specialists.</p>
        </div>
        <img src="../../../assets/stats.png" alt="">
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon scroll-btn" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon scroll-btn" aria-hidden="true"></span>
  </button>
</div>

<section class="clients">
  <h1 class="text-2xl m-2">Our Clients</h1>
  <p>We have been working with some fortune 500+ clients </p>
  <div class="logos">
    <img src="../../../assets/picsum.png" alt="">
    <img src="../../../assets/alien.png" alt="">
    <img src="../../../assets/circuit.png" alt="">
    <img src="../../../assets/wiggle.png" alt="">
    <img src="../../../assets/wordy.png" alt="">
    <img src="../../../assets/rand.png" alt="">
  </div>
</section>

<section class="team">
  <h1 class="text-2xl m-2">Meet our talented team</h1>
  <p> </p>
  <div class="teams">
    <div class="card" style="width: 18rem">
      <img src="../../../assets/circuit.png" class="card-img-top" alt="bg-missing" />
      <div class="card-body">
        <h5 class="card-title">Kenedy Maina</h5>
        <h5 class="card-title">Software developer</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img src="../../../assets/rand.png" class="card-img-top" alt="bg-missing" />
      <div class="card-body">
        <h5 class="card-title">Kenedy Maina</h5>
        <h5 class="card-title">Business analyst</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img src="../../../assets/wiggle.png" class="card-img-top" alt="bg-missing" />
      <div class="card-body">
        <h5 class="card-title">Kenedy Maina</h5>
        <h5 class="card-title">Qa/Qe</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img src="../../../assets/alien.png" class="card-img-top" alt="bg-missing" />
      <div class="card-body">
        <h5 class="card-title">Kenedy Maina</h5>
        <h5 class="card-title">Software developer</h5>
      </div>
    </div>
  </div>
</section>

<section class="industries">
  <h1 class="text-2xl" >Talents we offer</h1>
  <div class="industry">
    <div class="card" id="talent-card" *ngFor="let industry of industryArr; let i = index" style="width: 18rem">
      <img src="{{industry.industryImage}}" class="card-img-top" alt="{{industry.industryName}}" />
      <div class="card-body">
        <h5 class="card-title">{{industry.industryName | titlecase}}</h5>
      </div>
    </div>

  </div>

</section>
<app-footer></app-footer>
<!-- <input type="search" name="" id="" [(ngModel)]="filter"> -->
<!-- <div *ngFor="let country of countriesArr | search: filter; let i = index">{{country.name}}</div> -->