<section class="profile">
    <div class="cover-photo">
        <img src="../../../assets/banner.jpg" class="banner" alt="">
    </div>
    <div class="profile-div">
        <div class="profile-details">
            <img src="{{user.profileImg}}" class="profile-img" alt="">
            <div>
                <h3 class="profile-name" ><p class="text-bold">Fullname:</p>{{user.fullName}}</h3>
            <!-- <h3><p class="text-bold">Industry:</p>{{user.industryName}}</h3> -->
            </div>
            
        </div>
        
    </div>
    <div class="user-details">
        <h3><p class="text-bold" style="font-weight: 600; margin: 2% 0;">Born in:</p> {{user.DOB | titlecase}}</h3>
        <h3><p class="text-bold" style="font-weight: 600; margin: 2% 0;">City:</p> {{user.city | titlecase}}</h3>
        <h3><p class="text-bold" style="font-weight: 600; margin: 2% 0;">Email:</p> {{user.email | titlecase}}</h3>
        <h3><p class="text-bold" style="font-weight: 600; margin: 2% 0;">Phone number:</p> {{user.phoneNumber | titlecase }}</h3>
        <h3><p class="font-bold" style="font-weight: 600; margin: 2% 0;">Gender:</p> {{user.gender | titlecase}}</h3>
        <button class="btn bg-teal-600 text-white m-2 hover:bg-teal-700" (click)="updateProfile()" >Update profile</button>
    </div>
</section>