<app-user-sidebar></app-user-sidebar>
<div class="sidebar">
    <div class="content">
        <!-- <app-navbar></app-navbar> -->
        <app-navbar></app-navbar>
        <router-outlet>
            <h1 class="text-3xl">Your job requests</h1>
            <section class="text-gray-600 body-font overflow-hidden">
                <div class="container px-5 py-24 mx-auto">
                    <div class="-my-8 divide-y-2 divide-gray-100">
                        <div class="py-8 flex flex-wrap md:flex-nowrap" *ngFor="let booking of bookings">
                            <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                                <!-- <span class="font-semibold title-font text-gray-700">{{booking.}}</span> -->
                                <span class="mt-1 text-gray-500 text-sm">{{booking.duration}} hours</span>
                            </div>
                            <div class="md:flex-grow">
                                <!-- <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Bitters hashtag waistcoat
                                    fashion axe chia unicorn</h2> -->
                                <p class="leading-relaxed">{{booking.jobDescription}}</p>
                                <a class="text-green-500 inline-flex items-center m-4" (click)="acceptBooking(booking.bookingId)" style="cursor: pointer;">Accept order
                                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M5 12h14"></path>
                                        <path d="M12 5l7 7-7 7"></path>
                                    </svg>
                                </a>
                                <a class="text-red-500 inline-flex items-center m-4" style="cursor: pointer;">Decline order
                                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M5 12h14"></path>
                                        <path d="M12 5l7 7-7 7"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="bookings.length <= 0" style="align-self: center; justify-self: center;">
                    <h1 class="text-2xl" >You have no new job requests</h1>
                    <img src="../../../../assets/octocat.png" style="width: 100px;" alt="">
                </div>
            </section>
            <a class="message-button" routerLink="messages"><i class="fa-regular fa-comment"></i></a>
        </router-outlet>
    </div>
</div>