.login{
  background-color: #dbdbdb;
  height: 84vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-btn{
  background-color: #29AB87;
  border: none;
  color: #fff;
}
.login-btn:hover{
  background-color: #00755e;
}

#error{
  color: red;
}

.form {
  width: 30%;
}

form{
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.input-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-div input{
  width: 80%;
}

.messages {
  position: fixed;
  top: 20%;
  z-index: 3;
  width: 100vw;
}

.success-msg {
  background-color: #29AB87;
  color: #fff;
  text-align: center;
}

.error-msg{
  background-color: red;
  text-align: center;
  color: #fff;
}

.auth-options{
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 25px;
}

.google, .meta {
  background-color: #f7f7f7;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 5px;
}

.google:hover, .meta:hover {
  background-color: #dbdbdb;
}
