<app-navbar></app-navbar>
<section class="login">
  <div class="messages">
    <div *ngIf="successDiv" class="success-msg">{{successMsg}}</div>
    <div *ngIf="errorDiv" class="error-msg">{{errorMsg}}</div>
  </div>
  <div class="form">
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <h2 style="font-size: 25px;">Get back to your account</h2>
      <p>Don't have an account? <a routerLink="/register">Create one!</a></p>
      <div class="input-div m-2">
        <input type="email" placeholder="Email" class="form-control" formControlName = "email" data-cy="login-email">
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" id="error">Email is required</div>
      </div>
      <div class="input-div m-2">
        <input type="password" placeholder="password" class="form-control" formControlName="password" data-cy="login-password">
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" id="error">Password is required</div>
      </div>
      <p style="text-align: center;">Or continue with</p>
      <div class="auth-options">
        <div class="google"><i class="fa-brands fa-google"></i></div>
        <div class="meta"><i class="fa-brands fa-meta"></i></div>
      </div>
      <div class="input-div m-2">
        <input type="submit" class="btn login-btn" value="Login">
      </div>
    </form>
  </div>
</section>
