.action-items{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.login, .signup, .contact{
  background-color: #29AB87;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

.login:hover, .signup:hover, .contact:hover {
  background-color: #00755e;
}

.logout {
  /* background-color: red; */
}

.navbar{
  background-color: #dbdbdb;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
