.action-items{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.login, .signup{
  background-color: #29AB87;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

.login:hover, .signup:hover {
  background-color: #00755e;
}

nav{
  flex-wrap: wrap;
  background-color: #e6e6e6;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
