.login, .signup, .contact{
  background-color: #29AB87;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

.login:hover, .signup:hover, .contact:hover {
  background-color: #00755e;
}

.logout {
  background-color: red;
}

.navbar{
  background-color: #dbdbdb;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search-div{
  display: flex;
}

.search-div button {
  border: none;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

input[type = 'text'] {
  border: none;
  background-color: #ffffff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
input[type = 'text']:focus {
  outline: none;
}