<app-navbar></app-navbar>
<section class="login">
  <div class="messages">
    <div *ngIf="successDiv" class="success-msg">{{successMsg}}</div>
    <div *ngIf="errorDiv" class="error-msg">{{errorMsg}}</div>
  </div>
  <div class="form">
    <form [formGroup]="registerForm">
      <h2 >Join us today</h2>
      <p>Already have an account? <a routerLink="/login">Login</a></p>
      <div class="input-div m-2">
        <input type="email" placeholder="Email" class="form-control">
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" formControlName = "email" id="error">Email is required</div>
      </div>
      <div class="input-div m-2">
        <input type="password" placeholder="password" class="form-control">
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" formControlName="password" id="error">Password is required</div>
      </div>
      <div class="auth-options">
        <p style="text-align: center;">Or continue with</p>
      </div>
      <div class="input-div m-2">
        <input type="submit" class="btn login-btn" value="Login">
      </div>
    </form>
  </div>
</section>
