footer {
  background-color: #263238;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}
.other-links {
  flex-wrap: wrap;
  display: flex;
}

.logo {
  color: #29AB87;
}

.other-links ul {
  list-style-type: none;
}
.icons{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
